body
{
	background-color: #4CAF50;
	margin:0;
}

#main
{
	width: 100%;
	height: 100%
}

header
{
	background-color: #4CAF50;
	background-repeat: no-repeat;
	width: 100%;
	height: 150px;
	position: relative;
	margin:0;
}

img
{
	width: 350px;
	height: 100px;
}

input
{
	 height: 40px;
	 border: none;
   	 border-bottom: 2px solid green;
   	 background-color: white;
     box-sizing: border-box;
 	 -webkit-transition: width .35s ease-in-out;
 	 transition: width .35s ease-in-out;
    
}

input::placeholder
{
	text-align: center;
	color:green;
}

input::hover
{


}

input:focus
{
	width: 95%;
	background-color: #61ff67;
}




button
{
 	 background-color: #4CAF50;
 	 border: none;
 	 color: white;
 	 padding: 16px 32px;
 	 text-decoration: none;
 	 margin: 4px 2px;
 	 cursor: pointer;
}


#logo-img
{
	width: 100px; 
	height: 100px;
	float: left;
}



#footer
{
	background-color: #4CAF50;
    width: 100%;
	height: 150px;
	margin: 0;
}

#center
{
	background-color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	min-height: 600px;
	height: auto;
	display: flex;
}



.box-premium
{
	width: 100%;
    	margin-top: 50px;
   	margin-left: 30%;
    	float:left;
}



.cars-boxes-header
{
	border: 1px;

}

.box-header-text
{
		font-family: "Lucida Console", Courier, monospace;
    	font-style: italic;
    	font-variant: small-caps;
    	font-size:  25px;
}


.premium-text
{
		font-family: "Lucida Console", Courier, monospace;
    	font-style: italic;
    	font-variant: small-caps;
		font-size:  25px;
}	

.car
{
		float:left;
		margin-left: 0px;
		width: 80%;
}



.logo-text
{
   		 font-family: "Lucida Console", Courier, monospace;
   		 font-style: italic;
   		 font-variant: small-caps;
   		 font-size:  70px;

}	



.presentation-prorate
{
	display:none;
}


.presentation-multicar
{
	display:none;
}



.prorate-multicar-full-logo-msg
{
	float: right;
	margin-right: 10%;
}

 
.logo
{
   	float: left;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;

	filter: drop-shadow(8px 8px 10px green);
}



@media only screen and (max-width: 1200px)
{
.logo
{
	position: absolute;
	left: 40%;
	filter: drop-shadow(10px 10px 10px 10px green);
	}

.box-premium
{
	 width: 100%;
   	 margin-top: 100px;
   	 margin-left: 30%;
   	 float:left;
}

#logo-img
{
	width: 150px; 
	height: 150px;
}

.presentation-prorate
{
	float: left;
	margin-left: 15%;
	margin-top: 2%;
	display: block;

}

.logo-text
{
    font-size: 40px;
}


.presentation-multicar
{
	float: right;
	margin-right: 10%;
	margin-top: 2%;
	display: block;
}

.prorate-multicar-full-logo-msg
{
	display: none;
}
	
}

@media only screen and (max-width: 900px)
{
.logo
{
	position: absolute;
	left: 40%;
	filter: drop-shadow(10px 10px 10px 10px green);
 
}

.presentation-prorate
{
	float: left;
	margin-left: 10%;
	display: block;
}

.box-premium
{
 	width: 100%;
        margin-top: 100px;
        margin-left: 20%;
        float:left;
}

.presentation-multicar
{
	float: right;
	margin-right: 10%;
	display: block;
}

}



@media only screen and (max-width: 800px)
{
header
{
	height: 150px;
}

.box-premium
{
	  width: 100%;
	  height: 100%;
   	  margin-top: 100px;
  	  margin-left: 0%;
  	  margin-right: 0%;
}

button
{
    	width: 100%;
    	display: flex;
}

table
{
    	width: 100%;
    	box-sizing: border-box;
}

.car
{
    	width: 100%

}

.premium-text
{
    	display:none;
}

.logo
{
	position: absolute;
	left: 40%;
 
}

.presentation-prorate
{
	float: left;
	margin-left: 5%;
	display: block;
}

.logo-text
{
    font-size:  25px;
}


.presentation-multicar
{
	float: right;
	margin-right: 5%;
	display: block;

}
	
}

@media only screen and (max-width: 600px)
{
header
{
	height: 100px;
}

.box-premium
{
       width: 100%;
       height: 100%;
       margin-top: 100px;
       margin-left: 0%;
       margin-right: 0%;
}

.car
{
    	width: 100%

}

.premium-text
{
    	display:none;
}

.logo  
{
	position: absolute;
	left: 35%;
 
}

.presentation-prorate
{
	float: left;
	margin-left: 5%;
	margin-top: 20%;
	display: block;
}

.presentation-multicar
{
	float: right;
	margin-right: 5%;
	margin-top: 20%;
	display: block;
}

}


@media only screen and (max-width: 480px)
{
	
#logo-img
{
	width: 150px; 
	height: 150px;
}

.logo  
{
	position: absolute;
	left: 25%;
 
}



}
